body{
        margin:5px;
        font-family: Arial;
        background-color: cadetblue;

    }     
 header{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background-color:rgb(17, 17, 17);
            color:white;
            padding:15px;
            font-size:30px;
            text-align: center;
        }
.container{
            display:flex;
        }
.sidebar{
            width:220px;
            background-color: darksalmon;
            color: white;
            height:100vh;
            padding:20px;
        }
.sidebar h3{
            background-color: rgb(82, 71, 43);
            font-size:larger;
            text-align:center;
            margin:10px 0;
            padding: 20px;
            border-radius:8px;
        }
.sidebar ul{
            list-style:disc;
            padding: 20px;
        }
a{
    color: azure;
    text-decoration: none;
}
.sidebar li{
            background-color: brown;
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;
            margin:10px;
            padding: 20px;
            
        }
.menu{
            flex:1;
            padding: 20px;
    }
.cards{
            display:grid;
            grid-template-columns: repeat(4,1fr);
            gap: 20px;
        }
.card{
            background-color:whitesmoke;
            padding: 20px;
            text-align: center;
            font-size: 25px;
            border-radius:8px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            width:250px;
            height:130px;
            box-sizing: border-box;
        }
table{
            width: 1060px;
            height: 500px;
            table-layout:fixed;
            background:white;
            border-collapse:collapse;
            margin-top: 20px;
        }
th,td{
            padding:12px;
            text-align:center;
        }
th{
            background-color:teal;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size:20px;
        }
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}